*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(185, 164, 164);
    color: white;
    overflow: hidden;
}
#contain{
    width: 50%;
    border: none;
    outline: none;
    position: absolute;
    top: 170px;
    text-align: center;
    left: 25%;
    padding: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 32px;
    box-shadow: inset 2px 4px 7px rgba(0, 0, 0, 0.445),inset -2px -4px 7px rgba(255, 255, 255, 0.568);
}
p{
    font-size: 25px;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30px;
    font-family: monospace;
}
select{
    position: absolute;
    top: 50%;
    left: 30%;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px 50px 25px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.322);
    cursor: pointer;
}
input{
    position: absolute;
    top: 50%;
    right: 30%;
    border: none;
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    border-radius: 50px;
    outline: none;
}
.fest{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 52%;
    left: 17%;
    border-radius: 50%;
    color: rgb(77, 13, 138);
    text-align: center;
    cursor: pointer;
    font-family:   'Trebuchet MS', sans-serif;
    transition: .5s;
}
.fest:hover{
    text-shadow: 2px 2px 2px black;
}
.sec{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 52%;
    right: 17%;
    border-radius: 50%;
    color: rgb(77, 13, 138);
    text-align: center;
    cursor: pointer;
    font-family:   'Trebuchet MS', sans-serif;
    transition: .5s;
}
.sec:hover{
    text-shadow: 2px 2px 2px black;
}
.ft{
    position: absolute;
    top: 63%;
    left: 3%;
    background-color: rgba(55, 129, 111, 0.897);
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 80px;
    text-align: center;
    border: none;
    outline: none;
    transition: transform 1.5s ease;
    transform: translateX(-120%);
    cursor: pointer;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.63),-2px -3px 6px rgba(255, 255, 255, 0.644);
}
.st{
    position: absolute;
    top: 63%;
    right: 3%;
    background-color: rgba(55, 129, 111, 0.897);
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 80px;
    text-align: center;
    border: none;
    outline: none;
    transition: transform 1.5s ease;
    transform: translateX(120%);
    cursor: pointer;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.63),-2px -3px 6px rgba(255, 255, 255, 0.644);
}
.fti{
    transform: translateX(0);
}
.sti{
    transform: translateX(0);
}



@media(max-width:450px){
    p{
        font-size: 15px;
        width: 90%;
        position: absolute;
        left: 5%;
    }
    #contain{
        width:60%;
        left: 20%;
        font-size: 15px;
    }
    select{
        left: 5px;
        top: 50%;
    }
    input{
        right: 30px;
        width: 100px;
    }
    .fest{
        top: 40%;
        left: 10px;
    }
    .sec{
        top: 40%;
        right: 30px;
    }
    .ft{
        font-size: 12px;
    }
    .st{
        font-size: 12px;
    }
}
